body{
    background-color: burlywood;
}
.logo {
    text-align: center;
}
.logo img{
    width: 10%;
}
.logo b{
    font-size: 20px;
}
.form {
    text-align: center;
}
.from p{
    font-size: 204px;

}
.form input{
    padding: 10px;
    width: 50%;
    margin-bottom: 10px;
    background-color: bisque;
    
    }
  